.main_page__container
  .main_content
    .logo

    .main_content__text
      .main_content__text__title
        .big_title Конкурс афоризмов
        .med_title от клиники высшей категории "ГрандМед"

      .main_content__text__body
        -if @text
          = @text.home.html_safe
        - else
          Сервис представляет собой генератор афоризм-картинок. Афоризм-картинка состоит из подложки и текста афоризма. Пользователь может поделиться картинкой в соц. сети Вконтакте
          и тем самым принять участие в конкурсе.

    .main_content__text__button
      = link_to 'УЧАСТВОВАТЬ В КОНКУРСЕ >', step_one_path, {class: 'white_button_link'}

    .main_content__text__links
      = link_to 'Правила конкурса', rules_path
      = link_to 'Рейтинг участников', ratings_path

    - if Picture.any?
      .main_content__text__aphorisms
        .main_content__text__aphorisms__title
          Лучшие афоризмы:
        .main_content__text__aphorisms__top
          - Picture.last(3).each do |pic|
            = image_tag pic.image_url(:thumb)
