- content_for :js_src do
  %script{:src => "//vk.com/js/api/openapi.js", :type => "text/javascript"}
.navigation
  .navigation_content
    .navigation_content__page_title
      Правила конкурса
    .navigation_content__button
      = link_to 'УЧАСТВОВАТЬ В КОНКУРСЕ >', step_one_path, {class: 'white_button_link'}
.main_content
  .main_content__rules_text
    -if @text
      = @text.rules.html_safe
    - else
      Сервис представляет собой генератор афоризм-картинок. Три несложных шага для участия в конкурсе на лучший афоризм: выбрать подложку, написать афоризм, опубликовать картинку с афоризмом на своей стене в VK - и Вы сможете стать участником конкурса и получить приз от Клиники «ГрандМед». Обращаем Ваше внимание, что в конкурсе могут принимать участие только участники группы grandmed в VK.
      %br
      %br
      Итоги подводятся три раза в год:
      %br
      = '-  конец июнь'
      %br
      = '-  конец сентябрь'
      %br
      = '-  конец декабрь'
      %br
      Победители определяются по количеству лайков и комментарием «по существу» под Гранд-Афоризмом.
      %br
      %br
      Призы: сертификаты на услуги Клиники «ГрандМед» на 15 000, 10 000 и 5 000 рублей
  .main_content__vk_widget#vk_groups

  .clearfix
  .aphorisms_title
    Лучшие афоризмы
  .backgrounds_list
    - @aphorisms.each do |background|
      .background_image{data: { img: background.image_url(:thumb) }}
        = image_tag background.image_url(:thumb)

:javascript
  VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "250"}, 32373473);
