= render 'navigation'
.main_content
  .step_content
    .step_content__background.background_for_text
      = image_tag @background.image_url(:big),{class: 'js_big_background'}
      .step_content__background__text.js_aphorism_text
    .step_content__body
      .step_content__body__title
        Добавьте афоризм
      .step_content__body__input
        %textarea{ cols: 60, rows: 10, id: 'aphorism_input' }
        .notification.js_notification
          Вы можете ввести не более 270 символов. Осталось:
          %span.js_notification_count
            270
          символа(ов)
        = label_tag 'Выберите цвет'
        = color_field :picture, :color
      .step_content__body__text
        Напишите Ваш афоризм.
      .step_content__body__actions
        = link_to 'ОПУБЛИКУЙТЕ АФОРИЗМ >', '#', {class: 'red_button_link js_make_aphorism', data: {bkg: params[:background]}}
  .clearfix
  .aphorisms_title
    Лучшие афоризмы
  .backgrounds_list
    - @aphorisms.each do |background|
      .background_image{data: { img: background.image_url(:thumb) }}
        %a{ href: step_three_path(background.id) }
          = image_tag background.image_url(:thumb)

:javascript
  $('#picture_color').on('change', function(e){
    clr = $('#picture_color').val();
    $('.js_aphorism_text').css('color', clr);
  });
  $('#aphorism_input').on('keydown', function(e) {
    if ($('#aphorism_input').val().length > 269){
      $('.js_notification').addClass('error_notification');
      e.preventDefault();
    }
  });
  $('#aphorism_input').on('keyup', function(e) {
    console.log($('#aphorism_input').val().length);
    console.log($('#aphorism_input').val().length > 269);
    clr = $('#picture_color').val();
    if ($('#aphorism_input').val().length > 269){
      $('.js_notification').addClass('error_notification');
      e.preventDefault();
    }else{
      $('.error_notification').removeClass('error_notification');
    }

    $('.js_notification_count').text(270 - $('#aphorism_input').val().length);
    $('.js_aphorism_text').text($('#aphorism_input').val()).css('color', clr);
  });
