= render 'navigation'
.main_content
  .step_content
    .step_content__background
      = image_tag @backgrounds.first.image_url(:big),{class: 'js_big_background'}
    .step_content__body
      .step_content__body__title
        Выберите дизайн фона
      .step_content__body__text
        -if @text
          = @text.step1.html_safe
        - else
          Выберите дизайн фона для Вашего Гранд-Афоризма из предложенных ниже иллюстраций.
      .step_content__body__actions
        = link_to 'ДОБАВИТЬ АФОРИЗМ >', step_two_path(background: @backgrounds.first.id), {class: 'red_button_link js_next_step_link'}
  .clearfix
  .backgrounds_list
    - @backgrounds.each_with_index do |background, i|
      - klass = (i == 0 ? 'selected_background' : '')
      .background_image.js_background{data: { img: background.image_url(:big), id: background.id }, class: klass}
        = image_tag background.image_url(:thumb)
